#card1 {
    margin-left: 5%;
    width: 350px;
    height: 450px;
    border: 5px solid #000;
    border-radius: 20px;             
    display: flex;                    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 232, 232);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}